.playlist {
  counter-reset: session;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  }
}

.playlist-track {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.playlist-track:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.playlist-track-button {
  align-items: center;
  background-color: red;
  border: 0;
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font);
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  @media (prefers-color-scheme: dark) {
    color: var(--dark-color);
  }
}

.playlist-track-button:focus {
  outline: none;
}

.playlist-track-icon {
  position: absolute;
}

.playlist-track-button:hover,
.active-track {
  box-shadow: 0 0 2rem rgba(0,0,0,.3);
  transform: scale(1.05);
  z-index: 100;
}

.playlist-track-title {
  font-size: 5.2vw;
  font-weight: 700;
  padding-left: 9vw;

  @media screen and (min-width: 700px) {
    font-size: 4.2vw;
    padding-left: 7vw;
  }

  @media screen and (min-width: 1200px) {
    font-size: 3.2vw;
    padding-left: 6vw;
  }

  @media screen and (min-width: 1600px) {
    font-size: 2.6vw;
  }
}

.playlist-track-title span {
  display: block;
}

.playlist-track-title span:before {
  counter-increment: session;
  content: "#"counter(session);
  text-indent: 0;
}

.playlist-track-time,
.playlist-track-genre {
  bottom: 21%;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  visibility: hidden;

  @media screen and (min-width: 700px) {
    font-size: 1.4rem;
  }
}

.playlist-track-genre {
  bottom: auto;
  top: 22%;
}

.playlist-track-button:hover span,
.active-track span {
  opacity: 1;
  visibility: visible;
}

/* Colours for the tracks */

@mixin colour-scheme($bg-color, $color, $dark-background: false) {
  .playlist-track-button,
  .player-artwork {
    background: $bg-color;
    color: $color;
  }
  .playlist-track-icon,
  .player-artwork-icon {
    fill: $color;
  }
  .player-progress-bar {
    background: #ffffff;
  }
  .player-button:hover > svg {
    fill: $bg-color;

    @if $dark-background {
      fill: $color;
    }
  }
  input[type=range]::-webkit-slider-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }
  input[type=range]::-moz-range-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }
  input[type=range]::-ms-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }
}

.ok-sessions-1 {
  @include colour-scheme(#2A10A6, #EC00A5, true);
}

.ok-sessions-2 {
  @include colour-scheme(#EC1C24, #2A10A6);
}

.ok-sessions-3 {
  @include colour-scheme(#28C517, #FFF100);
}

.ok-sessions-4 {
  @include colour-scheme(#333131, #08F9A9, true);
}

.ok-sessions-5 {
  @include colour-scheme(#FFF100, #652D90);
}

.ok-sessions-6 {
  @include colour-scheme(#EC297B, #262261);
}

.ok-sessions-7 {
  @include colour-scheme(#0F97FF, #87FFED);
}

.ok-sessions-8 {
  @include colour-scheme(#FF8300, #2E3094);
}

.ok-sessions-9 {
  @include colour-scheme(#FFFFE3, #007E7F);
}

.ok-sessions-10 {
  @include colour-scheme(#48FFE8, #3B3B3B);
}

.ok-sessions-11 {
  @include colour-scheme(#7300AA, #B9EB02);
}

.ok-sessions-12 {
  @include colour-scheme(#42A942, #FFFFFF);
}

.ok-sessions-13 {
  @include colour-scheme(#000000, #FF0004, true);
}

.ok-sessions-14 {
  @include colour-scheme(#F8D1E3, #292125);
}

.ok-sessions-15 {
  @include colour-scheme(#D81927, #FFFFFF);
}

.ok-sessions-16 {
  @include colour-scheme(#B4BD00, #9E004D);
}

.ok-sessions-17 {
  @include colour-scheme(#C1B49A, #5A4A42);
}

.ok-sessions-18 {
  @include colour-scheme(#00AAAD, #FFC60B);
}

.ok-sessions-19 {
  @include colour-scheme(#D0D2D3, #D91C5C);
}

.ok-sessions-20 {
  @include colour-scheme(#353F29, #FD8E8D, true);
}

.ok-sessions-21 {
  @include colour-scheme(linear-gradient(-45deg, #36D1DC, #5B86E5), #ffffff);
}

.ok-sessions-22 {
  @include colour-scheme(linear-gradient(-45deg, #FF9966, #FF5E62), #ffffff);
}

.ok-sessions-23 {
  @include colour-scheme(linear-gradient(-45deg, #FF9966, #49C4AC), #ffffff);
}

.ok-sessions-24 {
  @include colour-scheme(linear-gradient(-45deg, #8CA6DB, #B993D6), #ffffff);
}

.ok-sessions-25 {
  @include colour-scheme(linear-gradient(-45deg, #EF629F, #EECDA3), #ffffff);
}

.ok-sessions-26 {
  @include colour-scheme(linear-gradient(-45deg, #666969, #9BC5C3), #ffffff);
}

.ok-sessions-27 {
  @include colour-scheme(linear-gradient(-45deg, #3B8D99, #6B6B83, #AA4B6B), #ffffff);
}

.ok-sessions-28 {
  @include colour-scheme(linear-gradient(-45deg, #BD3F32, #CB356B), #ffffff);
}

.ok-sessions-29 {
  @include colour-scheme(linear-gradient(-45deg, #2657eb, #de6161), #ffffff);
}

.ok-sessions-30 {
  @include colour-scheme(linear-gradient(-45deg, #fdbb2d, #22c1c3), #ffffff);
}

.ok-sessions-31 {
  @include colour-scheme(#ccff00, #000000);
}

.ok-sessions-32 {
  @include colour-scheme(#15f4ee, #000000);
}

.ok-sessions-33 {
  @include colour-scheme(#f4158b, #000000);
}

.ok-sessions-34 {
  @include colour-scheme(#1cf415, #000000);
}

.ok-sessions-35 {
  @include colour-scheme(#ff6d00, #000000);
}

.ok-sessions-36 {
  @include colour-scheme(#b400ff, #000000);
}

.ok-sessions-37 {
  @include colour-scheme(#0066ff, #000000);
}

.ok-sessions-38 {
  @include colour-scheme(#ec1c24, #000000);
}

.ok-sessions-39 {
  @include colour-scheme(#fff100, #000000);
}

.ok-sessions-40 {
  @include colour-scheme(#00ffa4, #000000);
}

.ok-sessions-41 {
  @include colour-scheme(#3579c2, #ffffff);
}

.ok-sessions-42 {
  @include colour-scheme(#de65c2, #ffffff);
}

.ok-sessions-43 {
  @include colour-scheme(#de654e, #ffffff);
}

.ok-sessions-44 {
  @include colour-scheme(#47853c, #ffffff);
}

.ok-sessions-45 {
  @include colour-scheme(#513D83, #ffffff);
}

.ok-sessions-46 {
  @include colour-scheme(#9E2946, #ffffff);
}

.ok-sessions-47 {
  @include colour-scheme(#48c3bd, #ffffff);
}

.ok-sessions-48 {
  @include colour-scheme(#5c5c5c, #ffffff);
}

.ok-sessions-49 {
  @include colour-scheme(#E5A913, #ffffff);
}

.ok-sessions-50 {
  @include colour-scheme(#D84861, #ffffff);
}

.ok-sessions-51 {
  @include colour-scheme(#3B5856, #C0DAAA);
}

.ok-sessions-52 {
  @include colour-scheme(#FBEB63, #CD4B53);
}

.ok-sessions-53 {
  @include colour-scheme(#544550, #FFA666, true);
}

.ok-sessions-54 {
  @include colour-scheme(#F46F95, #484652);
}

.ok-sessions-55 {
  @include colour-scheme(#484652, #BAFBC7, true);
}

.ok-sessions-56 {
  @include colour-scheme(#464D91, #3FD7F7);
}

.ok-sessions-57 {
  @include colour-scheme(#D3D5D2, #F45922);
}

.ok-sessions-58 {
  @include colour-scheme(#D34F4F, #FFB966);
}

.ok-sessions-59 {
  @include colour-scheme(#636D6A, #DCBB9A, true);
}

.ok-sessions-60 {
  @include colour-scheme(#2A9368, #DDCB6F);
}

.ok-sessions-61 {
  @include colour-scheme(#1B85DD, #F9EE7E);
}

.ok-sessions-62 {
  @include colour-scheme(#6A3C6D, #6DCCE2);
}

.ok-sessions-63 {
  @include colour-scheme(#E7B89D, #167382);
}

.ok-sessions-64 {
  @include colour-scheme(#9DCF83, #1865B2);
}

.ok-sessions-65 {
  @include colour-scheme(#38464c, #ccbe7a, true);
}

.ok-sessions-66 {
  @include colour-scheme(#006486, #d27fa2, true);
}

.ok-sessions-67 {
  @include colour-scheme(#e7e0b6, #514c6f, true);
}

.ok-sessions-68 {
  @include colour-scheme(#96c4b8, #ab597d, true);
}

.ok-sessions-69 {
  @include colour-scheme(#cc5499, #8beae3);
}

.ok-sessions-70 {
  @include colour-scheme(#ceda9c, #534231);
}

.ok-sessions-71 {
  @include colour-scheme(#2d2b2c, #e26b4b, true);
}

.ok-sessions-72 {
  @include colour-scheme(#9cd2dc, #bf4040, true);
}

.ok-sessions-73 {
  @include colour-scheme(#e2a050, #333031);
}

.ok-sessions-74 {
  @include colour-scheme(#645d72, #e4ddd7);
}

.ok-sessions-75 {
  @include colour-scheme(#c191b7, #25536d);
}

// Modal window

.modal-body-open {
  .playlist {
    overflow: hidden;
  }
}

.modal-overlay {
  align-items: center;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 6rem;
  position: fixed;
  right: 0;
  opacity: 0;
  transition: all .2s ease-in-out;
  transform: translateY(-5rem);
  top: 0;
  z-index: 1000;
}

.ReactModal__Overlay--after-open.modal-overlay {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Overlay--before-close.modal-overlay {
  opacity: 0;
  transform: translateY(-5rem);
}

.modal {
  background-color: var(--light-color);
  box-shadow: 0 0 5rem rgba(0,0,0,.4);
  margin: auto;
  max-height: 50vh;
  max-width: 62rem;
  padding: 3rem;
  overflow: auto;
  outline: none;
  position: relative;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
  }
}

.modal-content {
  padding-bottom: 3rem;
}

.modal-content a {
  color: var(--dark-color);

  @media (prefers-color-scheme: dark) {
    color: var(--light-color);
  }
}

.modal-content a:hover {
  text-decoration: none;
}

.modal-title {
  font-size: 2.6rem;
  margin-top: 0;
  padding-right: 4rem;
}

.modal-description {
  font-family: var(--body-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.modal-url {
  margin-bottom: 0;
}

.modal-close {
  align-items: center;
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font);
  font-size: 1.8rem;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 3rem;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    color: var(--light-color);
  }
}

.modal-close:active,
.modal-close:focus {
  background-color: transparent;
  color: #fff;
}

