.playlist {
  counter-reset: session;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  }
}

.playlist-track {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.playlist-track:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.playlist-track-button {
  align-items: center;
  background-color: black;
  border: 0;
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font);
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;

  @media (prefers-color-scheme: dark) {
    color: var(--dark-color);
  }
}

.playlist-track-button:focus {
  outline: none;
}

.playlist-track-button:hover,
.active-track {
  box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
  transform: scale(1.05);
  z-index: 100;
}

.playlist-track-icon {
  position: absolute;
}

.playlist-track-title {
  font-size: 5.2vw;
  font-weight: 700;
  padding-left: 9vw;

  @media screen and (min-width: 700px) {
    font-size: 4.2vw;
    padding-left: 7vw;
  }

  @media screen and (min-width: 1200px) {
    font-size: 3.2vw;
    padding-left: 6vw;
  }

  @media screen and (min-width: 1600px) {
    font-size: 2.6vw;
  }
}

.playlist-track-title span {
  display: block;
}

.playlist-track-title span:before {
  counter-increment: session;
  content: "#" counter(session);
  text-indent: 0;
}

.playlist-track-time,
.playlist-track-genre {
  bottom: 21%;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  visibility: hidden;

  @media screen and (min-width: 700px) {
    font-size: 1.4rem;
  }
}

.playlist-track-genre {
  bottom: auto;
  top: 22%;
}

.playlist-track-button:hover span,
.active-track span {
  opacity: 1;
  visibility: visible;
}

/* Colours for the tracks */

@mixin colour-scheme($bg-color, $color, $dark-background: false) {

  .playlist-track-button,
  .player-artwork {
    background: $bg-color;
    color: $color;
  }

  .playlist-track-icon,
  .player-artwork-icon {
    fill: $color;
  }

  .player-progress-bar {
    background: #ffffff;
  }

  .player-button:hover>svg {
    fill: $bg-color;

    @if $dark-background {
      fill: $color;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }

  input[type=range]::-moz-range-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }

  input[type=range]::-ms-thumb {
    background: $bg-color;

    @if $dark-background {
      background: $color;
    }
  }
}

.ok-sessions-1 {
  @include colour-scheme(#2A10A6, #EC00A5, true);
}

.ok-sessions-2 {
  @include colour-scheme(#EC1C24, #2A10A6);
}

.ok-sessions-3 {
  @include colour-scheme(#28C517, #FFF100);
}

.ok-sessions-4 {
  @include colour-scheme(#333131, #08F9A9, true);
}

.ok-sessions-5 {
  @include colour-scheme(#FFF100, #652D90);
}

.ok-sessions-6 {
  @include colour-scheme(#EC297B, #262261);
}

.ok-sessions-7 {
  @include colour-scheme(#0F97FF, #87FFED);
}

.ok-sessions-8 {
  @include colour-scheme(#FF8300, #2E3094);
}

.ok-sessions-9 {
  @include colour-scheme(#FFFFE3, #007E7F, true);
}

.ok-sessions-10 {
  @include colour-scheme(#48FFE8, #3B3B3B);
}

.ok-sessions-11 {
  @include colour-scheme(#7300AA, #B9EB02);
}

.ok-sessions-12 {
  @include colour-scheme(#42A942, #FFFFFF);
}

.ok-sessions-13 {
  @include colour-scheme(#000000, #FF0004, true);
}

.ok-sessions-14 {
  @include colour-scheme(#F8D1E3, #292125);
}

.ok-sessions-15 {
  @include colour-scheme(#D81927, #FFFFFF);
}

.ok-sessions-16 {
  @include colour-scheme(#B4BD00, #9E004D);
}

.ok-sessions-17 {
  @include colour-scheme(#C1B49A, #5A4A42);
}

.ok-sessions-18 {
  @include colour-scheme(#00AAAD, #FFC60B);
}

.ok-sessions-19 {
  @include colour-scheme(#D0D2D3, #D91C5C, true);
}

.ok-sessions-20 {
  @include colour-scheme(#353F29, #FD8E8D, true);
}

.ok-sessions-21 {
  @include colour-scheme(linear-gradient(-45deg, #36D1DC, #5B86E5), #ffffff);
}

.ok-sessions-22 {
  @include colour-scheme(linear-gradient(-45deg, #FF9966, #FF5E62), #ffffff);
}

.ok-sessions-23 {
  @include colour-scheme(linear-gradient(-45deg, #FF9966, #49C4AC), #ffffff);
}

.ok-sessions-24 {
  @include colour-scheme(linear-gradient(-45deg, #8CA6DB, #B993D6), #ffffff);
}

.ok-sessions-25 {
  @include colour-scheme(linear-gradient(-45deg, #EF629F, #EECDA3), #ffffff);
}

.ok-sessions-26 {
  @include colour-scheme(linear-gradient(-45deg, #666969, #9BC5C3), #ffffff);
}

.ok-sessions-27 {
  @include colour-scheme(linear-gradient(-45deg, #3B8D99, #6B6B83, #AA4B6B), #ffffff);
}

.ok-sessions-28 {
  @include colour-scheme(linear-gradient(-45deg, #BD3F32, #CB356B), #ffffff);
}

.ok-sessions-29 {
  @include colour-scheme(linear-gradient(-45deg, #2657eb, #de6161), #ffffff);
}

.ok-sessions-30 {
  @include colour-scheme(linear-gradient(-45deg, #fdbb2d, #22c1c3), #ffffff);
}

.ok-sessions-31 {
  @include colour-scheme(#ccff00, #000000);
}

.ok-sessions-32 {
  @include colour-scheme(#15f4ee, #000000);
}

.ok-sessions-33 {
  @include colour-scheme(#f4158b, #000000);
}

.ok-sessions-34 {
  @include colour-scheme(#1cf415, #000000);
}

.ok-sessions-35 {
  @include colour-scheme(#ff6d00, #000000);
}

.ok-sessions-36 {
  @include colour-scheme(#b400ff, #000000);
}

.ok-sessions-37 {
  @include colour-scheme(#0066ff, #000000);
}

.ok-sessions-38 {
  @include colour-scheme(#ec1c24, #000000);
}

.ok-sessions-39 {
  @include colour-scheme(#fff100, #000000);
}

.ok-sessions-40 {
  @include colour-scheme(#00ffa4, #000000);
}

.ok-sessions-41 {
  @include colour-scheme(#3579c2, #ffffff);
}

.ok-sessions-42 {
  @include colour-scheme(#de65c2, #ffffff);
}

.ok-sessions-43 {
  @include colour-scheme(#de654e, #ffffff);
}

.ok-sessions-44 {
  @include colour-scheme(#47853c, #ffffff);
}

.ok-sessions-45 {
  @include colour-scheme(#513D83, #ffffff);
}

.ok-sessions-46 {
  @include colour-scheme(#9E2946, #ffffff);
}

.ok-sessions-47 {
  @include colour-scheme(#48c3bd, #ffffff);
}

.ok-sessions-48 {
  @include colour-scheme(#5c5c5c, #ffffff);
}

.ok-sessions-49 {
  @include colour-scheme(#E5A913, #ffffff);
}

.ok-sessions-50 {
  @include colour-scheme(#D84861, #ffffff);
}

.ok-sessions-51 {
  @include colour-scheme(#3B5856, #C0DAAA);
}

.ok-sessions-52 {
  @include colour-scheme(#FBEB63, #CD4B53);
}

.ok-sessions-53 {
  @include colour-scheme(#544550, #FFA666, true);
}

.ok-sessions-54 {
  @include colour-scheme(#F46F95, #484652);
}

.ok-sessions-55 {
  @include colour-scheme(#484652, #BAFBC7, true);
}

.ok-sessions-56 {
  @include colour-scheme(#464D91, #3FD7F7);
}

.ok-sessions-57 {
  @include colour-scheme(#D3D5D2, #F45922, true);
}

.ok-sessions-58 {
  @include colour-scheme(#D34F4F, #FFB966);
}

.ok-sessions-59 {
  @include colour-scheme(#636D6A, #DCBB9A, true);
}

.ok-sessions-60 {
  @include colour-scheme(#2A9368, #DDCB6F);
}

.ok-sessions-61 {
  @include colour-scheme(#1B85DD, #F9EE7E);
}

.ok-sessions-62 {
  @include colour-scheme(#6A3C6D, #6DCCE2);
}

.ok-sessions-63 {
  @include colour-scheme(#E7B89D, #167382, true);
}

.ok-sessions-64 {
  @include colour-scheme(#9DCF83, #1865B2);
}

.ok-sessions-65 {
  @include colour-scheme(#38464c, #ccbe7a, true);
}

.ok-sessions-66 {
  @include colour-scheme(#006486, #d27fa2, true);
}

.ok-sessions-67 {
  @include colour-scheme(#e7e0b6, #514c6f, true);
}

.ok-sessions-68 {
  @include colour-scheme(#96c4b8, #ab597d, true);
}

.ok-sessions-69 {
  @include colour-scheme(#cc5499, #8beae3);
}

.ok-sessions-70 {
  @include colour-scheme(#ceda9c, #534231);
}

.ok-sessions-71 {
  @include colour-scheme(#2d2b2c, #e26b4b, true);
}

.ok-sessions-72 {
  @include colour-scheme(#9cd2dc, #bf4040, true);
}

.ok-sessions-73 {
  @include colour-scheme(#e2a050, #333031);
}

.ok-sessions-74 {
  @include colour-scheme(#645d72, #e4ddd7);
}

.ok-sessions-75 {
  @include colour-scheme(#c191b7, #25536d);
}

.ok-sessions-76 {
  @include colour-scheme(#25b1b2, #23295e);
}

.ok-sessions-77 {
  @include colour-scheme(#e23969, #e8be87);
}

.ok-sessions-78 {
  @include colour-scheme(#384170, #f6921e);
}

.ok-sessions-79 {
  @include colour-scheme(#5e7f84, #66ffaf);
}

.ok-sessions-80 {
  @include colour-scheme(#ccaf81, #3c456b, true);
}

.ok-sessions-81 {
  @include colour-scheme(#635b4f, #bcb57a, true);
}

.ok-sessions-82 {
  @include colour-scheme(#0057b7, #ffd700, true);
}

.ok-sessions-83 {
  @include colour-scheme(#bcef65, #6f557c, true);
}

.ok-sessions-84 {
  @include colour-scheme(#913944, #9bd3bb, true);
}

.ok-sessions-85 {
  @include colour-scheme(#5b6b4b, #ffb7e5);
}

.ok-sessions-86 {
  @include colour-scheme(#4c7387, #dcffb6, true);
}

.ok-sessions-87 {
  @include colour-scheme(#862489, #1ed0f9);
}

.ok-sessions-88 {
  @include colour-scheme(#ff4a4a, #b3fff9);
}

.ok-sessions-89 {
  @include colour-scheme(#ffcd69, #5d3fa0, true);
}

.ok-sessions-90 {
  @include colour-scheme(#8cc8ed, #723c62, true);
}

.ok-sessions-91 {
  @include colour-scheme(#636466, #FFCFFF, true);
}

.ok-sessions-92 {
  @include colour-scheme(#D572DE, #4045A6);
}

.ok-sessions-93 {
  @include colour-scheme(#9B6D6D, #FFCDCD, true);
}

.ok-sessions-94 {
  @include colour-scheme(#36673E, #D3CC6E);
}

.ok-sessions-95 {
  @include colour-scheme(#6B35C8, #E4D466);
}

.ok-sessions-96 {
  @include colour-scheme(#006F66, #FFA4DE, true);
}

.ok-sessions-97 {
  @include colour-scheme(#3C4272, #E05B71, true);
}

.ok-sessions-98 {
  @include colour-scheme(#46AC83, #6F336A);
}

.ok-sessions-99 {
  @include colour-scheme(#C3EC79, #C53A3C, true);
}

.ok-sessions-100 {
  @include colour-scheme(#6B4677, #10EDBE, true);
}

.ok-sessions-101 {
  @include colour-scheme(#17262D, #EF1063, true);
}

.ok-sessions-102 {
  @include colour-scheme(#DBC43E, #202526, true);
}

.ok-sessions-103 {
  @include colour-scheme(#CEAE91, #BD3461, true);
}

.ok-sessions-104 {
  @include colour-scheme(#CA46A7, #BCBDC2);
}

.ok-sessions-105 {
  @include colour-scheme(#002D63, #1FC46F, true);
}

.ok-sessions-106 {
  @include colour-scheme(#3A485B, #00FFF6, true);
}

.ok-sessions-107 {
  @include colour-scheme(#FF7476, #3B4B69);
}

.ok-sessions-108 {
  @include colour-scheme(#85F9FF, #405093);
}

.ok-sessions-109 {
  @include colour-scheme(#85FFA8, #4F4A93);
}

.ok-sessions-110 {
  @include colour-scheme(#253A38, #F1FFB1, true);
}
