.player {
  background-color: #fff;
  box-shadow: 0 -.2rem 2rem rgba(0,0,0,.4);
  display: flex;
  flex-flow: row wrap;
  height: 10rem;
  position: relative;
  z-index: 100;

  @media screen and (min-width: 700px) {
    flex-flow: row nowrap;
    height: 6rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
  }
}

.player-artwork {
  align-items: center;
  display: flex;
  flex: 0 0 6rem;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  width: 6rem;

  // @media (prefers-color-scheme: dark) {
  //   filter: brightness(90%);
  // }
}

.player-track-details {
  border-right: 1px solid var(--dark-color);
  display: flex;
  flex: 1 1 13rem;
  font-weight: 500;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
  width: 13rem;

  @media screen and (min-width: 700px) {
    flex: 0 0 18rem;
    padding: 0 1.5rem;
    width: 18rem;
  }

  @media (prefers-color-scheme: dark) {
    border-color: rgba(#fff, .1);
  }
}

.player-track-title { 
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 .4rem;

  @media screen and (min-width: 700px) {
    font-size: 1.6rem;
  }
}

.player-track-timer {
  animation: fadein .6s linear;
}

.player-track-info-button {
  align-items: center;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font);
  font-size: 1.2rem;
  font-weight: 700;
  height: 1.8rem;
  justify-content: center;
  margin: 0;
  padding: .3rem 0 0;
  position: absolute;
  right: 1rem;
  transition: all .2s ease-in-out;
  top: .8rem;
  width: 1.8rem;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    color: var(--light-color);
  }
}

.player-track-info-button:focus,
.player-track-info-button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);

  @media (prefers-color-scheme: dark) {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}

.player-artwork svg {
  height: 5rem;
  width: 5rem;
}

.player-controls {
  display: flex;
  flex-flow: row nowrap;
  height: 6rem;

  @media screen and (min-width: 500px) {
    border-right: 1px solid var(--dark-color);
  }

  @media (prefers-color-scheme: dark) {
    border-color: rgba(#fff, .1);
  }
}

.player-progress {
  background-size: cover;
  align-items: center;
  border-top: 1px solid var(--dark-color);
  display: flex;
  height: 4rem;
  order: 6;
  position: relative;
  width: 100%;

  @media screen and (min-width: 700px) {
    border-top: 0;
    border-right: 1px solid var(--dark-color);
    flex-basis: auto;
    flex-grow: 1;
    height: 6rem;
    order: initial;
    width: auto;
  }

  @media (prefers-color-scheme: dark) {
    border-color: rgba(#fff, .1);
  }
}

.player-progress-wrapper {
  background-color: var(--light-color);
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
  }
}

.player-progress-loader {
  background-color: var(--light-color);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
  }
}

.player-progress-bar {
  background-color: var(--dark-color);
  background-clip: border-box;
  height: 100%;
  transition: all .1s ease-in-out;
}

.player-waveform {
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  filter: invert(10%);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.player-button {
  background: transparent;
  cursor: pointer;
  border: 0;
  padding: 0 1rem;
  width: 5rem;
}

.player-button > svg {
  fill: var(--dark-color);
  transition: all .2s ease-in-out;

  @media (prefers-color-scheme: dark) {
    fill: var(--light-color);
  }
}

.player-button:focus {
  outline: none;
}

.player-button:disabled {
  opacity: .2;
}

.play-button {
  width: 4rem;
}

.play-button > svg {
  height: 3rem;
}

.loading-text {
  display: flex;

  span {
    opacity: 0;
    animation: ellipsisDot 1s infinite;
    -webkit-animation: ellipsisDot 1s infinite;
  }

  span:nth-child(1) {
    animation-delay: 0.0s;
  }

  span:nth-child(2) {
    animation-delay: 0.1s;
  }

  span:nth-child(3) {
    animation-delay: 0.2s;
  }
}

@keyframes :global(ellipsisDot) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes :global(ellipsisDot) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Modal window

:global {
  .modal-overlay {
    align-items: center;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 3rem 3rem 6rem;
    position: fixed;
    right: 0;
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: translateY(-5rem);
    top: 0;
    z-index: 1000;
  }

  .ReactModal__Overlay--after-open.modal-overlay {
    opacity: 1;
    transform: translateY(0);
  }

  .ReactModal__Overlay--before-close.modal-overlay {
    opacity: 0;
    transform: translateY(-5rem);
  }
}

.modal {
  background-color: var(--light-color);
  box-shadow: 0 0 5rem rgba(0, 0, 0, .4);
  margin: auto;
  max-height: 50vh;
  max-width: 62rem;
  padding: 3rem;
  overflow: auto;
  outline: none;
  position: relative;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
  }
}

.modal-content {
  padding-bottom: 3rem;
}

.modal-content a {
  color: var(--dark-color);

  @media (prefers-color-scheme: dark) {
    color: var(--light-color);
  }
}

.modal-content a:hover {
  text-decoration: none;
}

.modal-title {
  font-size: 2.6rem;
  margin-top: 0;
  padding-right: 4rem;
}

.modal-description {
  font-family: var(--body-font);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.modal-url {
  margin-bottom: 0;
}

.modal-close {
  align-items: center;
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font);
  font-size: 1.8rem;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 3rem;

  svg {
    fill: var(--dark-color);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-color);
    border-color: var(--light-color);
    color: var(--light-color);

    svg {
      fill: var(--light-color);
    }
  }
}

.modal-close:active,
.modal-close:focus {
  background-color: transparent;
  color: #fff;
}
