<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="description" content="DJ &amp; Web Designer/Developer from the UK. Like my beats broken.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" href="/assets/icons/favicon.svg">
    <link rel=”mask-icon” href=”/assets/icons/favicon.svg” color=”#000000">
    <link rel="stylesheet" href="https://use.typekit.net/ckg1rat.css">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
